extends ../layout


block content
    .reg-box 
        .header
            h2 Registration
            form(action="/auth_reg", method="post")
                 .form-group
                    label(for="fullname") Fullname 
                    input(type="rext" name="fullname" class="form-control")
                .form-group
                    label(for="email") Email 
                    input(type="email" name="email" class="form-control")
                .form-group 
                    label(for="phone") Phone
                    input(type="phone" name="phone" class="form-control")
                 .form-group
                    label(for="address") address
                    input(type="address" name="address" class="form-control")
                     .form-group
                    label(for="email") Email 
                    input(type="email" name="email" class="form-control")
                     .form-group
                    label(for="courseTitle") courseTile  
                    input(type="courseTile" name="courseTile" class="form-control")
                button(type="submit" class="btn btn-primary") submit
